h1 {
    text-align: center;
    color: #1A365D;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.formulaire{
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.formulaire input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 2px black;
}

.formulaire input:hover {
    border: solid 2px #20B2AA;
}

.formulaire button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color:  #20B2AA;
    color: white;
    border-radius: 10px;
}

.formulaire button:hover {
    cursor: pointer;
    background-color:  #126964;
}