.btn-ajouter {
    background-color: #20B2AA;
    border-radius: 10px;
    margin-left: 25px;
    padding: 12px 20px;
    border: none;
}

.btn-ajouter:hover {
    background-color: #1e8c7a;
}

.gestion-hotel, .gestion-chambre {
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 20px;
}

